#game {
    display: none;
    padding: 20px 0;
}

/* mat card */
.card:hover {
    outline: 3px solid rgb(172, 172, 172)
}

.card.selected {
    outline: 3px solid rgb(172, 172, 172)
}

.card {
    margin: 5px;
    padding: 0;
    text-align: center;
    color:rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    height: 130px;
    max-width: 100px;
    max-height: 130px;
}

.card-body.mat {
    padding: 3px;
    border-radius: 0 0 5px 5px;
}

.mat-img {
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
    border-radius: 5px 5px 0 0;
    min-height: 100px;
}
/* end */

.main {
    text-align: center;
    padding-top: 120px;
    height: 65vh;
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
}

.banner {
    background-color: rgba(161, 36, 7, 0.8);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 82%;
    text-align: center;
    display: inline-block;
    color: #fff;
}

.btn-homepage{
    background-color: #fff;
    color: #ff5c00;
    border-radius: 30px;
    border-color: #fff;
    padding: 14px 3vw;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

.btn-homepage:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.feed_btn {
    margin-top: 5px;
}

#main-container {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    padding: 0vw 5vw;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    width: 100vw;
}

/* main game page */
#game {
    display: flex;
    width: 100%;
}

.overview {
    float: left;
    flex-grow: 1;
}

.detail {
    margin-right: 5vw;
    width: 385px;
    float: right;
    padding-left: 25px;
    margin-right: 0px;

}

.row {
    width: 100%;
    margin: 0px;
}
/* end */

/* selected card css */
.artifact-selected {
    width: 360px;
    min-width: 30vh;
    min-height: 80vh;
    padding: 0;
    border: 0;
    margin: 0px;
    flex-direction: column;
    display: flex;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
}

.card-top {
    width: 100%;
    position: relative;
    background-image: url(assets/artifacts_details/top.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.card-top:before {
    content: "";
    display: block;
    padding-top: 11.89%
}

.card-text.top {
    position: absolute;
    top: 16%;
    left: 6%;
    font-size: 20px;
    color: white;
}

.card-header {
    width: 100%;
    display: flex;
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 4%;
    flex-direction: row;
}

.card-header-left {
    float: left;
    flex-grow: 1;
}

.card-header-right {
    float: right;
    width: 45%;
}

.card-text.part-name {
    height: 35%;
    color: white;
    font-size: 14px;
}

.card-text.main-op-name {
    color: rgb(193, 193, 193);
    font-size: 14px;
}

.card-text.main-op-value {
    color: white;
    font-size: 33px;
}

.card-body {
    color: rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(229, 223, 211, 1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 15px;
}

.body-header {
    margin-bottom: 15px;
    display: flex;
}

.artifact-lv {
    background-color:rgba(73, 83, 102, 1);
    color:rgba(229, 223, 211, 1);
    width: auto;
    padding: 0px 5px;
    margin-right: auto;
    border-radius: 3px;
    float: left;
}

.text-field {
    flex-grow: 1;
    color: rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
}

.sub-op-field {
    padding-left: 5px;
    margin-bottom: 5px;
}

.artifact-set {
    color: rgba(97, 179, 91, 0.8);
}

/* end */
.mater-li {
    margin-left: 10px;
    margin-top: 10px !important;
    min-width: 14%;
    padding: 0px;
    float: left;
}

.selected {
    background: gray;
}

/* enhancing pages */
#enhancing-page {
    margin: 0;
    padding-top: 20px;
    max-width: 100%;
    width: 100%;
    display: flex;
}

.enhance-prev {
    float: left;
    flex-grow: 1;
    width: calc(100% - 500px);
    padding-right: 10px;
}

.enhancing-artifact-name {
    color:rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.enhance-details {
    display: flex;
    flex-direction: column;
    float: right;
    width: 500px;
    min-height: 80vh;
}

.progress-text {
    display: flex;
}

.enhance-img {
    width: 40%;
    margin-top: 100px;
    margin-left: 22%;
    margin-right: 38%;
}

.enhance-materials {
    width: 100%;
}

.adding-level {
    padding-top: 2px;
    width: 40%;
}

.adding-exp {
    padding-top: 2px;
}

.artifact-level {
    width: 10%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.artifact-exp {
    color: purple;
    padding-top: 2px;
    float: right;
    flex-grow: 1;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.progress {
    margin-bottom: 25px;
    margin-top: 1px;
}

.progress-bar.expected {
    width: 0%;
    background-color: #007bff75;
}

.enhancing-artifact-main-op {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.0));;
    display: flex;
    width: 100%;
    padding: 0 5px;
}

.enhancing-artifact-sub-op {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 5px;
}

.sub-op-field {
    flex-grow: 1;
}

.odd {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.0));;
}

.even {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.0));;
}

.name {
    float: left;
}

.value {
    float: right;
    flex-grow: 1;
    text-align: right;
}

.select-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgba(89, 95, 107, 0.568);
}

.enhance-materials {
    margin-bottom: 10px;
}

.card.enhance {
    max-width: 75px;
    max-height: 97.5px; 
}

.mat-img.enhance {
    min-height: 75px;
    max-height: 75px;
}

.card-body.mat.enhance {
    width: 100%;
    height: 100%;
    padding: 1px;
    border-radius: 0 0 5px 5px;
}

#enhancing-page {
    display: none;
}