#game {
    display: none;
    padding: 20px 0;
}

.card {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    outline: 3px solid rgba(229, 223, 211, 1)
}

.card.selected {
    outline: 3px solid rgba(229, 223, 211, 1)
}

.main {
    text-align: center;
    padding-top: 120px;
    height: 65vh;
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
}

.banner {
    background-color: rgba(161, 36, 7, 0.8);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 82%;
    text-align: center;
    display: inline-block;
    color: #fff;
}

.btn-homepage{
    background-color: #fff;
    color: #ff5c00;
    border-radius: 30px;
    border-color: #fff;
    padding: 14px 3vw;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

.btn-homepage:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.feed_btn {
    margin-top: 5px;
}

#main-container {
    min-height: 100vh;
    margin-left: 5vw;
    margin-right: 15vw;
    max-width: 96%;
}

#enhancing-page {
    display: none;
}

.card {
    padding: 0;
    text-align: center;
    color:rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 0px;
    max-width: 100px;
}

.card-body.mat {
    padding: 3px;
    border-radius: 0 0 5px 5px;
}

.mat-img {
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
    border-radius: 5px 5px 0 0;
}

/* selected card css */
.artifact-selected {
    width: 360px;
    min-width: 30vh;
    min-height: 80vh;
    padding: 0;
    border: 0;
    margin: 0px;
    flex-direction: column;
    display: flex;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
}

.card-top {
    width: 100%;
    position: relative;
    background-image: url(assets/artifacts_details/top.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.card-top:before {
    content: "";
    display: block;
    padding-top: 11.89%
}

.card-text.top {
    position: absolute;
    top: 16%;
    left: 6%;
    font-size: 20px;
    color: white;
}

.card-header {
    width: 100%;
    display: flex;
    background: linear-gradient(140deg, rgba(105, 84, 83, 0.9), rgba(230, 173, 88, 0.9));
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 4%;
    flex-direction: row;
}

.card-header-left {
    float: left;
    flex-grow: 1;
}

.card-header-right {
    float: right;
    width: 45%;
}

.card-text.part-name {
    height: 35%;
    color: white;
    font-size: 14px;
}

.card-text.main-op-name {
    color: rgb(193, 193, 193);
    font-size: 14px;
}

.card-text.main-op-value {
    color: white;
    font-size: 33px;
}

.card-body {
    color: rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(229, 223, 211, 1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-field {
    flex-grow: 1;
    color: rgba(73, 83, 102, 1);
    font-family: Arial, Helvetica, sans-serif;
}

/* end */

.enhance-prev {
    float: left;
    width: 50%;
}

.enhance-details {
    float: left;
    width: 50%
}

.enhance-img {
    width: 50%;
}

.enhance-materials {
    width: 100%;
}

.mater-li {
    margin-left: 10px;
    margin-top: 10px !important;
    min-width: 14%;
    padding: 0px;
    float: left;
}

.selected {
    background: gray;
}

#game {
    display: flex;
    width: 100%;
}

.overview {
    float: left;
    flex-grow: 1;
}

.detail {
    margin-right: 5vw;
    width: 480px;
    float: right;
    padding-left: 4vw;
}

/* enhancing pages */
.progress-text {
    display: flex;
}

.adding-level {
    padding-top: 2px;
    width: 40%;
}

.adding-exp {
    padding-top: 2px;
}

.artifact-level {
    width: 10%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.artifact-exp {
    padding-top: 2px;
    float: right;
    flex-grow: 1;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.progress {
    margin-bottom: 5px;
    margin-top: 1px;
}

.progress-bar.expected {
    width: 0%;
    background-color: #007bff75;
}